#
# {{ project_name }} tests
#
cmake_minimum_required(VERSION 3.21)

# GoogleTestのフェッチと有効化
include(FetchContent)
FetchContent_Declare(
  googletest
  GIT_REPOSITORY https://github.com/google/googletest.git
  GIT_TAG release-1.12.1
)
FetchContent_MakeAvailable(googletest)
include(GoogleTest)

## 外部依存関係を追加...

# テストターゲットの構成
add_executable({{ project_name|lower }}_test)
target_sources({{ project_name|lower }}_test PRIVATE
    test_{{ project_name|lower }}.cpp
)
target_link_libraries({{ project_name|lower }}_test PRIVATE
    {{ project_name|lower }}
    GTest::gtest_main
)
target_include_directories({{ project_name|lower }}_test
    PRIVATE
    ${PROJECT_SOURCE_DIR}/include
    ${GTEST_INCLUDE_DIRS}
)

# テストの実行
gtest_discover_tests({{ project_name|lower }}_test)
