//
// {{ project_name }}
//

#ifndef {{ project_name|upper }}_{{ project_name|upper }}_H
#define {{ project_name|upper }}_{{ project_name|upper }}_H

#endif /* {{ project_name|upper }}_{{ project_name|upper }}_H */
